.panel-heading--icon{
  float: right;
  font-size: 15px;
  margin-left: 10px;
}

.panel-heading{
  background-color: #245380 !important;
  color: white !important;
  border-radius: 0;
  font-weight: bold;
  width: 100%;
}