.container--setting-widget{
  border-top: 2px solid #245380;
  width: 95%;
  margin: auto;
}
.text-widget-setting{
  height: 200px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  width: 550px;
}
.title--setting-widget{
  color: #b5b3b3;
  font-size: 14px;
}

.column-selection--container{
  display: inline-flex;
  width: 100%;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-bottom: 20px;
}

.column--Columns--container, .column--Selected--container{
  background-color: white;
  padding: 3px;
  border: 2px solid #f6f6f6
}
.column--Columns, .column--Selected{
  width: 47.5%;
}
.column--element{
  color: black;
  background-color: #f6f6f6;
  border: 1px dashed #b5b3b3;
  margin: 5px;
  padding-left: 15px;
  font-size: larger;
}