.container--setting-widget{
  border-top: 2px solid #245380;
  width: 95%;
  margin: auto;
}
.text-widget-setting{
  height: 200px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  width: 550px;
}
.title--setting-widget{
  color: #b5b3b3;
  font-size: 14px;
}